
<div>
    <div class="button_info_div">
      <div class="h4_center">Sélection de la station hydrologique de référence</div>
      <button mat-button (click)="openDialog()"><mat-icon>help</mat-icon></button>
</div>

<div>
    <div class="choix_station_div">
        <div>
            <form class="dropdown-form">
                <mat-form-field class="first-dropdown">
                    <mat-label>Station</mat-label>
                    <input type="text"
                        placeholder="Sélectionner une station"
                        aria-label="Number"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" 
                                    [value]="option" 
                                    [disabled]="isOptionDisabled(option)" 
                                    [ngClass]="{'disabled-option': isOptionDisabled(option)}">
                            {{ option.index }} - {{ option.station_name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="button-links">
            <a mat-button [href]="'https://www.hydro.eaufrance.fr/sitehydro/'+ selectedWatershedID + '/fiche'" target="_blank" class="button_link_hydroportail">
                <img src="https://hydro.eaufrance.fr/build/images/hydroportail.png" alt="HydroPortail">
            </a>
            <a mat-button [href]="'https://ades.eaufrance.fr/Fiche/PtEau?Code='+ selectedWatershedBSS" target="_blank" class="button_link_ades">
                <img src="https://ades.eaufrance.fr/Spip?p=squelettes/images/logo-ades.png" alt="ADES">
            </a>
        </div>   
    </div>
</div>

<button mat-raised-button color="primary" (click)="showDialogIfDisabled()">Sélectionner</button>