<div class="container-fluid p-0">
  <nav class="navbar sticky-top navbar-expand-lg" style="background: #1a1a1a">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a href="/home"><img src="../../assets/img/logo3.png" alt="Logo" style="height: 100px;"></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapseNavbar">
        <ul class="navbar-nav mr-auto nav-nav">
          <li><a class="navbar-underline-onglet menu-item" routerLink="/ficheSite" routerLinkActive="active" translate (click)="login()">Fiche de site</a></li>
          <li><a class="navbar-underline-onglet menu-item" routerLink="/simulator" routerLinkActive="active" translate (click)="data()">Simulateur Cydre</a></li>
          <li *ngIf="!(authService.isLoggedIn | async)"><a class="navbar-underline-onglet menu-item" routerLink="/login" routerLinkActive="active" translate (click)="login()">Se connecter</a></li>
          <li *ngIf="authService.isLoggedIn | async"><a class="navbar-underline-onglet menu-item" routerLink="/modeling" routerLinkActive="active" translate (click)="data()">Data</a></li>
          <li *ngIf="(authService.isLoggedIn | async) && authService.isScientificOrDev"><a class="navbar-underline-onglet menu-item" routerLink="/analysis" routerLinkActive="active" translate (click)="data()">Analyse</a></li>
          <li *ngIf="authService.isLoggedIn | async"><a class="navbar-underline-onglet menu-item" routerLink="/settings" routerLinkActive="active" translate (click)="settings()">Paramètres</a></li>
          <li *ngIf="(authService.isLoggedIn | async) && authService.isDev"><a class="navbar-underline-onglet menu-item" routerLink="/create-account" routerLinkActive="active" translate (click)="createAccount()">Créer un compte</a></li>
          <li *ngIf="authService.isLoggedIn | async"><a class="navbar-underline-onglet menu-item" routerLink="/login" routerLinkActive="active" translate (click)="logout()">Se déconnecter</a></li>
        </ul>
        <div class="d-flex align-items-center">
          <img src="../../assets/img/Europe_logo.png" alt="europe Logo" class="navbar-logo">
          <img src="../../assets/img/Région-bretagne-logo.png" alt="Région Bretagne Logo" class="navbar-logo">
          <button class="btn custom-btn mx-2" (click)="openDialog()">
            <img src="../../assets/img/quiz.png" alt="Help Center" style="vertical-align: middle; margin-right: 5px; margin-left: 5px;">
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
