@import "src/assets/styles/font-color.scss";

.navbar {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  background-color: #1a1a1a;
  padding: 10px 20px;
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-nav .menu-item {
  color: $font-white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background 0.3s, color 0.3s;
}

.navbar-nav .menu-item:hover {
  background-color: #333333;
  border-radius: 5px;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.navbar-logo {
  height: 80px; /* Ajustez cette hauteur selon vos besoins */
  margin-left: 10px;
}

.navbar-underline-onglet {
  display: inline-block;
  position: relative;
  color: $font-white;
}

.navbar-underline-onglet::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $font-white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-underline-onglet:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li a {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: $font-white;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
}

a:hover {
  color: $font-white;
}

img {
  margin-right: 1%;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-button li {
  margin: 0 10px; /* Adjust the margin as needed */
}

.menu-button a {
  text-decoration: none;
  color: black; /* Change the color as needed */
}

.logo {
  display: flex;
}

.cydre-logo {
  margin-left: 5em;
}
