<form [formGroup]="dataForm" (ngSubmit)="saveParameters()">
    <details open>
      <summary>General</summary>
      <div formGroupName="General">
        <label>Datasets:
          <ng-container *ngIf="possibleValues.General.datasets.possible_values.length; else customDataset">
            <div class="radio-group" *ngFor="let option of possibleValues.General.datasets.possible_values">
              <input type="radio" [value]="option" formControlName="datasets">{{option}}
            </div>
          </ng-container>
          <ng-template #customDataset>
            <input type="text" formControlName="datasets">
          </ng-template>
        </label>
        <label>Version:
          <ng-container *ngIf="possibleValues.General.version.possible_values.length; else customVersion">
            <div class="radio-group" *ngFor="let option of possibleValues.General.version.possible_values">
              <input type="radio" [value]="option" formControlName="version">{{option}}
            </div>
          </ng-container>
          <ng-template #customVersion>
            <input type="text" formControlName="version">
          </ng-template>
        </label>
      </div>
    </details>
  
    <details open>
      <summary>Similarity</summary>
      <div formGroupName="Similarity">
        <div formGroupName="spatial">
            <label>Number of Clusters: <input type="text" formControlName="n_clusters"></label>
          </div>
        <div *ngFor="let key of ['recharge', 'runoff', 'specific_discharge', 'water_table_depth']" [formGroupName]="key">
          <details>
            <summary>{{ key }}</summary>
            <div formGroupName="Calculation">
              <label>Maximal Percentage: <input type="text" formControlName="maximal_percentage"></label>
              <label>Metric:
                <ng-container *ngIf="possibleValues.Similarity[key].Calculation.metric.possible_values.length; else customMetric">
                  <div class="radio-group" *ngFor="let option of possibleValues.Similarity[key].Calculation.metric.possible_values">
                    <input type="radio" [value]="option" formControlName="metric">{{option}}
                  </div>
                </ng-container>
                <ng-template #customMetric>
                  <input type="text" formControlName="metric">
                </ng-template>
              </label>
              <label>Minimal Threshold: <input type="text" formControlName="minimal_threshold"></label>
              <label>N Scenarios: <input type="text" formControlName="n_scenarios"></label>
              <label>Scale:
                <ng-container *ngIf="possibleValues.Similarity[key].Calculation.scale.possible_values.length; else customScale">
                  <div class="radio-group" *ngFor="let option of possibleValues.Similarity[key].Calculation.scale.possible_values">
                    <input type="radio" [value]="option" formControlName="scale">{{option}}
                  </div>
                </ng-container>
                <ng-template #customScale>
                  <input type="text" formControlName="scale">
                </ng-template>
              </label>
              <label>Selection Method:
                <ng-container *ngIf="possibleValues.Similarity[key].Calculation.selection_method.possible_values.length; else customSelectionMethod">
                  <div class="radio-group" *ngFor="let option of possibleValues.Similarity[key].Calculation.selection_method.possible_values">
                    <input type="radio" [value]="option" formControlName="selection_method">{{option}}
                  </div>
                </ng-container>
                <ng-template #customSelectionMethod>
                  <input type="text" formControlName="selection_method">
                </ng-template>
              </label>
            </div>
            <div formGroupName="Time">
              <label>Days Before Forecast: <input type="text" formControlName="ndays_before_forecast"></label>
              <label>Period Calculation:
                <ng-container *ngIf="possibleValues.Similarity[key].Time.similarity_period_calculation.possible_values.length; else customPeriodCalculation">
                  <div class="radio-group" *ngFor="let option of possibleValues.Similarity[key].Time.similarity_period_calculation.possible_values">
                    <input type="radio" [value]="option" formControlName="similarity_period_calculation">{{option}}
                  </div>
                </ng-container>
                <ng-template #customPeriodCalculation>
                  <input type="text" formControlName="similarity_period_calculation">
                </ng-template>
              </label>
              <label>Time Step:
                <ng-container *ngIf="possibleValues.Similarity[key].Time.time_step.possible_values.length; else customTimeStep">
                  <div class="radio-group" *ngFor="let option of possibleValues.Similarity[key].Time.time_step.possible_values">
                    <input type="radio" [value]="option" formControlName="time_step">{{option}}
                  </div>
                </ng-container>
                <ng-template #customTimeStep>
                  <input type="text" formControlName="time_step">
                </ng-template>
              </label>
            </div>
          </details>
        </div>
      </div>
    </details>
  
    

  
    <button type="submit">Save</button>
  </form>
  