@import "src/assets/styles/font-color";
.container-fluid{
  padding : 0;
  margin: 0;
}

.banner{
  color: $font-white;
  text-align: center;
  background-color:  #413f3f;

}

.logos{
  height: 100px;
}


