@import "src/assets/styles/font-color.scss";

::ng-deep .p-button{
  background: $font-green;
  border: $font-green;
}

::ng-deep .p-button.p-button-outlined:enabled:hover{
  color: $font-green;
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
  background: $font-green;
}
::ng-deep .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider{
  background: $font-green;
}
::ng-deep .active{
  color: $font-green;
  pointer-events: none;
  .p-button.p-button-outlined{
    background: $font-green;
    color: $font-white;
  }
}
::ng-deep div.card-header{
  background: $font-green;
  color: $font-white;
}

.p-button{
  background-color: $font-green;
  border-color: $font-green;
  color: $font-white;
  margin: 5px;
}

.p-button:hover{
  background-color: $font-white;
  border-color: $font-green;
  border: solid 1px;
  color: $font-bold-green;
}

.p-button{
  background-color: $font-green;
  border-color: $font-green;
  color: $font-white;
  margin: 5px;
}

.p-button:hover{
  background-color: $font-white;
  border-color: $font-green;
  border: solid 1px;
  color: $font-bold-green;
}


.pg-button{
  background-color: lightgrey;
  border-color: lightgrey;
  color: black;
  margin: 5px;
}

.pg-button:hover{
  background-color: $font-white;
  border-color: lightgrey;
  border: solid 1px;
  color: grey;
}

.list-button{
  float: right;
}