<div class="container pt-4">
  <div>
    <h3>Sélection du bassin versant</h3>
  </div>

  <div class="pt-3">
    <p-dropdown [options]="selections" [(ngModel)]="selectedValue" optionLabel="name" [placeholder]="'selectOption' | translate"></p-dropdown>
  </div>

  <div class="container-fluid justify-content-between p-0 pt-4">
    <div class="d-flex justify-content-between align-items-center p-0">
      <p-button *ngFor="let button of buttons"
                label="{{ button.label }}"
                styleClass="p-button-outlined"
                [ngClass]="{'active': activeIndex === button.index}"
                (click)="activeIndex = button.index">
      </p-button>
  </div>
  <div class="sb sb-3">
    <hr class="section-break-3"/>
  </div>
  <p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel class="p-0">
      <app-localisation></app-localisation>
    </p-tabPanel>

    <p-tabPanel>
      <app-ressource></app-ressource>
    </p-tabPanel>

    <p-tabPanel>
      <app-modelisation></app-modelisation>
    </p-tabPanel>

    <p-tabPanel>
      <app-historique></app-historique>
    </p-tabPanel>

    <p-tabPanel>
      <app-prevision></app-prevision>
    </p-tabPanel>
  </p-tabView>
</div>
</div>
