<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <div class="banner row justify-content-center justify-content-lg-between p-2 border-bottom" style="margin-right: 0;">
    <div class="col-7 text-left me-5 text-white">
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-start">
        <img src="../../assets/img/logo_brgm_creseb_cnrs.png" alt="all logos" class="logos">
      </div>
      <div class="col-6 text-end">
        <img src="../../assets/img/ue_bzh_logo.png" alt="ue bretagne logos" class="logos">
      </div>
    </div>
  </div>
</footer>
