<div class="test-element" (mousemove)="log($event)">
  <!--<app-selecteurLangue></app-selecteurLangue>-->
  <app-navbar></app-navbar>
  <app-header></app-header>
  <router-outlet>
  </router-outlet>
  <app-footer></app-footer>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!--<div class="modal-selecteurLangue"></div>-->
        <div class="modal-navbar"></div>
        <div class="modal-header"></div>
        <div class="modal-body">
          <div *ngFor="let item of this.listPositions">
            {{item}}
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

