<div class="body" style="margin-left: 10%; margin-right: 10%;">
  <div>
    <div class="button_info_div">
      <div class="h4_center">Sélection de la station hydrologique de référence</div>
      <button mat-icon-button class="button_info" aria-label="Selection de la station" [matMenuTriggerFor]="dateInfoPopup">
        <mat-icon>info</mat-icon>
      </button>
      <mat-menu #dateInfoPopup="matMenu" xPosition="after" class="custom-menu">
        <ng-template matMenuContent>
          <div class="info-tooltip">
          <p>La sélection de la station modifie <strong>la visualisation des données</strong> et définit le bassin versant à utiliser pour <strong>la prévision des débits</strong> dans la partie "Simulateur". Pour plus d'informations concernant les stations veuillez vous référer à la documentation générale de l'outil située dans la barre de navigation.</p>
          </div>
        </ng-template>
      </mat-menu>
    </div>

    <div>
      <div class="choix_station_div">
          <div>
              <form class="dropdown-form">
                  <mat-form-field appearance="outline" class="first-dropdown">
                      <mat-label>Choix d'une station</mat-label>
                      <input type="text"
                          placeholder="Sélectionner une station"
                          aria-label="Number"
                          matInput
                          [formControl]="myControl"
                          [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" 
                                    [value]="option"
                                    [style.color]="isOptionDisabled(option) ? 'red' : 'initial'">
                          {{ option.index }} - {{ option.station_name }}
                        </mat-option>
                      </mat-autocomplete>
                  </mat-form-field>
              </form>
          </div>
          <div class="button-links">
              <a mat-button [href]="'https://www.hydro.eaufrance.fr/sitehydro/'+ selectedWatershedID + '/fiche'" target="_blank" class="button_link_hydroportail">
                  <img src="https://hydro.eaufrance.fr/build/images/hydroportail.png" alt="HydroPortail">
              </a>
              <a mat-button [href]="'https://ades.eaufrance.fr/Fiche/PtEau?Code='+ selectedWatershedBSS" target="_blank" class="button_link_ades">
                  <img src="https://ades.eaufrance.fr/Spip?p=squelettes/images/logo-ades.png" alt="ADES">
              </a>
          </div>   
      </div>
  </div>
  
    <div>
      <div class="h3_div">
        <h3 class="h3_text">Localisation du bassin versant</h3>
        <button mat-raised-button color="#413f3f" (click)="openDialogLoc($event)">
          <mat-icon style="color: white">help_outline</mat-icon>
        </button>
        <!-- <button mat-button (click)="openDialogLoc()"><mat-icon style="color: white">help</mat-icon></button> -->
      </div> 
      <div class="maps_div">
        <app-RegionalMap [stationSelectionChange] = "selectedWatershedID" (markerClick)="handleMarkerClick($event)" class="regional_map"></app-RegionalMap>
        <app-WatershedMap [stationSelectionChange] = "selectedWatershedID" class="watershed_map"></app-WatershedMap>
      </div>
    </div>

    <div>
      <div class="h3_div">
        <h3 class="h3_text">Suivi de la ressource en eau</h3>
      </div>
    </div>
    <div class="seasonal_plot_div">
      <!-- <app-hydrographGlobal [stationSelectionChange]="selectedWatershedID"></app-hydrographGlobal> -->
      <div style="text-align: center; padding: 10px;">
        <!-- <h3>Dynamique saisonnière de la ressource en eau</h3> -->
        <!-- <p>Choix d'une année à visualiser :</p> -->
        <mat-form-field appearance="outline" class="second-dropdown">
          <mat-label>Choix d'une année à visualiser :</mat-label>
          <mat-select placeholder="Sélectionnez les années" multiple [(ngModel)]="selectedYears" class="second-dropdown">
            <mat-option *ngFor="let year of years" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="container_seasonal">
        <div class="seasonal_plot">
          <div><app-temperatureSeasonal [stationSelectionChange]="selectedWatershedID" [yearSelectionChange]="selectedYears"></app-temperatureSeasonal></div>
          <div><app-precipitationSeasonal [stationSelectionChange]="selectedWatershedID" [yearSelectionChange]="selectedYears"></app-precipitationSeasonal></div>
        </div>
        <div class="seasonal_plot">
          <div><app-hydrographSeasonal [stationSelectionChange]="selectedWatershedID" [yearSelectionChange]="selectedYears"></app-hydrographSeasonal></div>
          <div *ngIf="correspondance"><app-WaterTableDepthSeasonal [stationSelectionChange]="selectedWatershedID" [yearSelectionChange]="selectedYears"></app-WaterTableDepthSeasonal></div>
        </div>
      </div>
    </div>
  
  <div>
    <div class="h3_div">
      <h3 class="h3_text">Typologies de bassins versants</h3>
      <button mat-raised-button color="#413f3f" (click)="openDialogClassif($event)">
        <mat-icon style="color: white">help_outline</mat-icon>
      </button>
    </div>
    <div class="seasonal_plot_div">
        <!--<div id="mappy"></div>-->
        <!-- <div style="display:flex;align-items: flex-start; margin-top: 5px;  margin-bottom: 5px;"> -->
        <!-- <div style="display:flex;align-items: flex-start; margin-top: 5px;  margin-bottom: 5px;"> -->
          <app-typology-map
            [selectedWatershedID]="selectedWatershedID"
            [DataGDFStation]="DataGDFStation"
            [DataGDFWatershed]="DataGDFWatershed">
          </app-typology-map>
          <!-- <div id="mapy" class="map_typologie"></div> -->
          <!-- <div style="height: 350px; width: 30%;">
            <strong>Légende</strong>
            <div id="legend-items"></div>
          </div> -->
        </div>
    </div> 
  </div>
</div>
  
  