<div class="body">
    <div>
      <div class="button_info_div">
        <div class="h4_center">Sélection de la station hydrologique de référence</div>
        <button mat-icon-button class="button_info" [matMenuTriggerFor]="popoverMenu">
          <mat-icon>info</mat-icon>
        </button>
        <mat-menu #popoverMenu="matMenu" xPosition="after">
          <ng-template matMenuContent >
            <p>Sélectionner une station hydrologique dans la liste déroulante suivante.</p>
            <p>Il s'agit des stations pour lesquelles ont été référencées à la fois des données d'observation et des données de modélisation.</p>
            <p>Vous pouvez aussi sélectionner directement la station depuis la carte régionale affichée ci-dessous.</p>
          </ng-template>
        </mat-menu>
      </div>

      <div class="choix_station_div">
        <div>
          <mat-form-field class="first-dropdown">
            <mat-select placeholder="Sélectionnez une station" [(ngModel)]="selectedStationID" (ngModelChange)="onStationSelectionChange($event)">
              <mat-option *ngFor="let location of locations" [value]="location.ID">
                {{ location.ID }} - {{ location.name }}
              </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <div >
          <a mat-button [href]="'https://www.hydro.eaufrance.fr/sitehydro/' + selectedStationID + '/fiche'" target="_blank" class="button_link_hydroportail">
            <img src="https://hydro.eaufrance.fr/build/images/hydroportail.png" alt="HydroPortail" style="height: 20px;">
          </a>
          <a mat-button *ngIf="isAdesVisible" [href]="'https://ades.eaufrance.fr/Fiche/PtEau?Code=' + selectedOldBSS" target="_blank" class="button_link_ades">
            <img src="https://ades.eaufrance.fr/Spip?p=squelettes/images/logo-ades.png" alt="ADES" style="height: 20px;">
          </a>
        </div>
      </div>

    </div>
  
    <div>
      <div class="h3_div">
        <h3 class="h3_text">Localisation du bassin versant</h3>
      </div> 
      <div class="maps_div">
        <app-RegionalMap [stationSelectionChange] = "stationMap" class="regional_map"></app-RegionalMap>
        <app-WatershedMap [stationSelectionChange] = "stationMap" class="watershed_map"></app-WatershedMap>
      </div>
      <div>
        <p class="parapgraphe_without_padding">L'association d'une station piézométrique au bassin versant est définie selon 3 critères : 1) proximité géographique; 2) couverture géologique et; 3) cohérence amont/aval.</p>
        <p class="parapgraphe_with_padding_visible">Pour plus d'informations concernant les stations hydrologiques et piézométriques, vous pouvez cliquer sur les logos des plateformes HydroPortail et ADES, en haut de le page, à côté de la liste déroulante de sélection du bassin versant.</p>
      </div>
    </div>

    <div>
      <div class="h3_div">
        <h3 class="h3_text">Suivi de la ressource en eau</h3>
      </div>
    </div>
    <app-hydrographGlobal [stationSelectionChange] = "stationMap" ></app-hydrographGlobal>
    <div style="text-align: center;">
    <mat-form-field class="second-dropdown">
      <mat-select placeholder="Sélectionnez les années" multiple [(ngModel)]=" selectedYears" class="second-dropdown">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </div>
  
  