/* Conteneur principal */
.typo-container {
  display: grid; /* Utilise Grid */
  // align-items: stretch;
  grid-template-columns: 2fr 1fr; /* Définit deux colonnes, la première prend 3 fois plus d'espace que la seconde */
  gap: 15px; /* Espacement entre les colonnes */
}

#mapy {
    height: 370px; /* Assurez-vous que la hauteur est définie */
    width: 100%;   /* Définissez la largeur pour s'assurer que la carte occupe tout l'espace disponible */
    /* Optionnel : Ajustez les marges si nécessaire */
    // margin-left: 5px;
    margin-right: 5px;
    flex: 1;
    // margin-top: 5px;
    // margin-bottom: 5px;
    /* Optionnel : Ajouter des bordures pour tester la visibilité */
    // border: 1px solid #000;
  }

.info-panel {
  height: 370px;
  width: 100%; /* Ajuster en fonction de l'espace disponible */
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.info-panel h4 {
  margin-top: 0;
}

.info-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info-panel li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.info-panel li:last-child {
  border-bottom: none;
}