mat-slider {
  width: 500px;
}

:host {
  ::ng-deep{
    .mat-step-icon-selected{
      background-color: #35B8BE;
    }
    .mat-step-icon-state-edit{
      background-color: #35B8BE;
    }
    .mat-mdc-slider.mat-primary {
      --mdc-slider-handle-color: #35B8BE;
      --mdc-slider-focus-handle-color: #35B8BE;
      --mdc-slider-hover-handle-color: #35B8BE;
      --mdc-slider-active-track-color: #35B8BE;
      --mdc-slider-inactive-track-color: #C8BFC7;
      --mdc-slider-with-tick-marks-inactive-container-color: #35B8BE;
      --mat-mdc-slider-ripple-color: #35B8BE;
    }
  }
}

