.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width :100%
}

.card {
  margin-bottom: 1.5rem !important;
}

.card-header {
  font-size: 18px;
  color: white;
  background-color:#413f3f;
  text-align: center;
  }

.card-body .row .col-md-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input{
  margin-left: 5px;
}

.color-selector {
  width: 40px;
  height: 40px;
  border : none;
  cursor: pointer;
}

.visu-align{
  display: flex; 
  align-items: center;
}

.heatmapcontainer {
  display: flex;
  flex-wrap: wrap; /* Permet de passer en colonne si nécessaire */
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.heatmap {
  flex: 1 1 48%; /* Flex-grow, flex-shrink, flex-basis pour la répartition */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  max-width: 48%; /* Limite la largeur pour ne pas dépasser */
  box-sizing: border-box; /* Inclut les marges et les paddings dans la taille */
}

.heatmap-content {
  flex-grow: 1;
  width: 100%;
  overflow: auto; /* Ajoute une barre de défilement si le contenu dépasse */
  max-height: 100%; /* Limite la hauteur */
}

@media (max-width: 1000px) {
  .heatmapcontainer {
    flex-direction: column; /* Change la direction en colonne */
    align-items: center; /* Aligne les éléments au centre */
  }

  .heatmap {
    width: 100%; /* Ajuste la largeur pour occuper toute la largeur */
    margin: 0 0 20px 0; /* Ajoute une marge inférieure pour espacer les éléments */
    max-width: 100%; /* Limite la largeur à 100% */
  }
}

.containerIndicatiors {
  display: flex;
  flex-wrap: wrap; /* Permet aux indicateurs de passer à la ligne suivante si nécessaire */
  justify-content: space-around; /* Espacement uniforme */
  margin: 10px;
}

.containerIndicatior {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1; /* Cela permet à la boîte de grandir pour remplir l'espace disponible */
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px; /* Ajoutez une marge pour éviter que les boîtes ne touchent */
  min-width: 180px; /* Assurez une largeur minimale pour chaque boîte */
  overflow: hidden;
}


.titleIndicators {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    word-wrap: break-word; 
    margin: 0;
    padding: 10px; 
    box-sizing: border-box; 
}
.moyenneIndicators{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  //word-wrap: break-word; 
  margin: 0;
  //padding: 10px; 
  //box-sizing: border-box; 
}

.resultIndicators {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    //margin: 0; 
}

.descriptionIndicators {
    text-align: center;
    font-size: 14px;
    margin: 0; 
}


.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
}

.small-select {
  
  width: 500px;
  height: 50px;
}

.align-tooltip{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #ccf2cb;
  border: 1px solid #ccf2cb;
  // border-radius: 5px;
  color: #000000;
  font-size: 14px;
  max-width: 300px;
  text-align: justify;
}

.info-graph-tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #ccf2cb;
  border: 1px solid #ccf2cb;
  // border-radius: 5px;
  color: #000000;
  font-size: 14px;
  // width: 500px;
  max-width: 500px;
  text-align: justify;
}

.warning-tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #f2cbcb;
  border: 1px solid #ccf2cb;
  // border-radius: 5px;
  color: #000000;
  font-size: 14px;
  max-width: 300px;
  text-align: justify;
}

.info-icon{
  //color: #07861c;
}


.warning-icon{
  //color: #d51717;
}

.download-icon{
  color: white;
}