.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width :100%
}

.card-header {
    text-align: center;
  }
  
.card-body .row .col-md-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input{
  margin-left: 5px;
}

.color-selector {
  width: 40px;
  height: 40px;
  border : none;
  cursor: pointer;
}

.visu-align{
  display: flex; 
  align-items: center;
}


.containerIndicatiors {
  display: flex;
  flex-wrap: wrap; /* Permet aux indicateurs de passer à la ligne suivante si nécessaire */
  justify-content: space-around; /* Espacement uniforme */
  margin: 40px;
}

.containerIndicatior {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1; /* Cela permet à la boîte de grandir pour remplir l'espace disponible */
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px; /* Ajoutez une marge pour éviter que les boîtes ne touchent */
  min-width: 180px; /* Assurez une largeur minimale pour chaque boîte */
  overflow: hidden;
}


.titleIndicators {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    word-wrap: break-word; 
    margin: 0;
    padding: 10px; 
    box-sizing: border-box; 
}
.moyenneIndicators{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  //word-wrap: break-word; 
  margin: 0;
  //padding: 10px; 
  //box-sizing: border-box; 
}

.resultIndicators {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    //margin: 0; 
}

.descriptionIndicators {
    text-align: center;
    font-size: 14px;
    margin: 0; 
}