.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width :100%
}

.card {
  margin-bottom: 1.5rem !important;
}

.card-header {
  font-size: 18px;
  color: white;
  background-color:#413f3f;
  text-align: center;
  }

.card-body .row .col-md-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input{
  margin-left: 5px;
}

.color-selector {
  width: 40px;
  height: 40px;
  border : none;
  cursor: pointer;
}

.visu-align{
  display: flex; 
  align-items: center;
}


.heatmapcontainer {
  display: flex; /* Utilise flexbox pour la disposition */
  width: 100%; /* Prend toute la largeur disponible */
  height: 100%; /* Prend toute la hauteur disponible */
  align-items: flex-end; /* Aligne les éléments au bas du conteneur */
  justify-content: space-between; /* Sépare les graphiques avec un espace */
}

.heatmap {
  width: 48%; /* Ajuste la largeur de chaque graphique pour qu'ils tiennent côte à côte */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.heatmap-content {
  flex-grow: 1; 
  width: 100%;
}

.heatmap-title {
  text-align: center;
  margin-top: 5px; 
  font-size: 16px; 
  font-weight: bold;
}


.containerIndicatiors {
  display: flex;
  flex-wrap: wrap; /* Permet aux indicateurs de passer à la ligne suivante si nécessaire */
  justify-content: space-around; /* Espacement uniforme */
  margin: 10px;
}

.containerIndicatior {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1; /* Cela permet à la boîte de grandir pour remplir l'espace disponible */
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px; /* Ajoutez une marge pour éviter que les boîtes ne touchent */
  min-width: 180px; /* Assurez une largeur minimale pour chaque boîte */
  overflow: hidden;
}


.titleIndicators {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    word-wrap: break-word; 
    margin: 0;
    padding: 10px; 
    box-sizing: border-box; 
}
.moyenneIndicators{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  //word-wrap: break-word; 
  margin: 0;
  //padding: 10px; 
  //box-sizing: border-box; 
}

.resultIndicators {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    //margin: 0; 
}

.descriptionIndicators {
    text-align: center;
    font-size: 14px;
    margin: 0; 
}


.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
}

.small-select {
  
  width: 500px;
  height: 50px;
}

.align-tooltip{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #ccf2cb;
  border: 1px solid #ccf2cb;
  // border-radius: 5px;
  color: #000000;
  font-size: 14px;
  max-width: 300px;
  text-align: justify;
}

.info-graph-tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #ccf2cb;
  border: 1px solid #ccf2cb;
  // border-radius: 5px;
  color: #000000;
  font-size: 14px;
  // width: 500px;
  max-width: 500px;
  text-align: justify;
}

.warning-tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #f2cbcb;
  border: 1px solid #ccf2cb;
  // border-radius: 5px;
  color: #000000;
  font-size: 14px;
  max-width: 300px;
  text-align: justify;
}

.info-icon{
  color: #07861c;
}


.warning-icon{
  color: #d51717;
}

.download-icon{
  color: white;
}