<mat-accordion>
  <!-- Le formulaire utilise Angular Reactive Forms -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Boucle sur chaque clé du JSON de configuration -->
    <ng-container *ngFor="let key of objectKeys(config)">
      <!-- Vérifie si la clé est un groupe ou un paramètre unique -->
      <ng-container *ngIf="isGroup(config[key]); else singleField">
        <!-- Utilise un panneau d'expansion pour les groupes -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ key }} <!-- Affiche le nom du groupe -->
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Vérifie si le sous-formulaire du groupe existe -->
          <ng-container *ngIf="getFormGroup(key) as groupForm">
            <div [formGroup]="groupForm">
              <!-- Utilisation récursive du composant pour les sous-groupes -->
              <app-parameters-panel [config]="config[key]" [formGroup]="groupForm" (parametersChanged)="parametersChanged.emit($event)"></app-parameters-panel>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
      <!-- Template pour les champs individuels -->
      <ng-template #singleField>
        <mat-form-field appearance="fill">
          <mat-label>{{ key }}
            <span matTooltip="{{ config[key].description }}" matTooltipPosition="above" matTooltipClass="tooltip-class">
              <mat-icon>info</mat-icon>
            </span>
          </mat-label>
          <!-- Ajout du tooltip avec la description -->
          
          <!-- Affiche un select si possible_values existe et n'est pas ">=0" -->
          <ng-container *ngIf="config[key].possible_values && config[key].possible_values.length && config[key].possible_values[0] !== '&gt;=0'; else simpleInput">
            <mat-select [formControlName]="key">
              <mat-option *ngFor="let option of config[key].possible_values" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </ng-container>
          <!-- Affiche un input simple si possible_values est vide ou ">=0" -->
          <ng-template #simpleInput>
            <input matInput [formControlName]="key" [type]="getInputType(config[key].type)" [min]="getMinValue(config[key].possible_values)" />
          </ng-template>
        </mat-form-field>
      </ng-template>
    </ng-container>
  </form>
</mat-accordion>
