.container {
    max-width: 90%;
    margin: auto;
  }
  
  .my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  
  .card {
    margin-bottom: 1.5rem !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .d-flex {
    display: flex !important;
  }
  
  .justify-content-between {
    justify-content: space-between !important;
  }
  
  .mt-2 {
    margin-top: 0.5rem !important;
  }
  
.modal-backdrop-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacité ajustée */
    z-index: 1040; /* Juste en dessous du modal */
  }
  
  .modal.show.d-block {
    display: block !important;
  }
  
  .progress-container {
    margin-bottom: 15px; /* Ajoute un espace de 15 pixels sous la barre de progression */
  }
  
  