.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width :100%
}

.card {
  margin-bottom: 1.5rem !important;
  border-radius: 8px; /* Ajoute un léger arrondi aux coins */
  overflow: hidden; /* Assure que les éléments internes ne dépassent pas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce autour de la carte */
}

.card-header {
  font-size: 18px;
  color: white;
  // background-color:#413f3f;
  background: linear-gradient(135deg, #3d3d3d, #1a1a1a); /* Dégradé de gris foncé à noir */
  text-align: center;
  // padding: 10px 15px; /* Un peu de padding pour un look plus aéré */
  // font-weight: bold;
  border-bottom: 2px solid #ddd;
  }

.card-body .row .col-md-2 {
  display: flex;
  justify-content: center;
}

.card-body {
  background: linear-gradient(180deg, white, #f7f7f7);
  // background-color: white; /* Fond blanc pour un contenu propre */
  padding: 20px; /* Un padding généreux pour aérer le contenu */
  border: 1px solid #e0e0e0; /* Beaux contours doux et subtils */
  border-radius: 0 0 8px 8px; /* Arrondit le bas pour correspondre au header */
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.1); /* Ombre plus sombre en bas et à droite */
}

.input-group {
  display: flex;
  align-items: center; /* Aligne verticalement les éléments au centre */
}

.form-control {
  width: 100px;
  // flex: 1; /* Prend tout l'espace disponible dans le conteneur flex */
  margin-right: 5px; /* Espacement entre le champ et l'unité */
}

.input-group-text {
  margin-left: 5px; /* Espacement entre le champ de saisie et l'unité */
}

.input{
  margin-left: 5px;
}

.color-selector {
  width: 40px;
  height: 40px;
  border : none;
  cursor: pointer;
}

.visu-align{
  display: flex; 
  align-items: center;
}

#previsions {
  margin-top: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);  // Légère ombre autour du graphique
  border-radius: 8px;  // Coins arrondis pour un aspect moderne
  max-height: 500px;
  max-width : 1400px;
}

.custom-button {
  border-radius: 8px; /* Coins arrondis */
  font-size: 16px; /* Taille de la police */
  padding: 10px 20px; /* Espacement interne */
}

//matrices

.heatmapcontainer {
  display: flex; 
  width: 100%; 
  height: 100%; 
  align-items: flex-end; 
  justify-content: space-between; 
}

.heatmap {
  width: 48%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.heatmap-content {
  flex-grow: 1; 
  width: 100%;
}

@media (max-width: 1000px) {
  .heatmapcontainer {
    flex-direction: column; 
    align-items: center; 
  }

  .heatmap {
    width: 100%;
    margin-left: 20%;
    margin-bottom: 20px; 
  }
}

.heatmapcontainercolumn {
  flex-direction: column; 
  align-items: center; 
}

.heatmapcolumn {
  width: 100%;
  margin-left: 20%;
  margin-bottom: 20px; 
}

//indicateurs
.containerIndicators {
  display: flex;
  flex-wrap: wrap; /* Permet aux indicateurs de passer à la ligne suivante si nécessaire */
  justify-content: space-around; /* Espacement uniforme */
  // margin: 10px;
}

.containerIndicator {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Ombre douce */
  border: 1px solid #ddd;
  padding: 10px;
  flex: 1; /* Cela permet à la boîte de grandir pour remplir l'espace disponible */
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px; /* Ajoutez une marge pour éviter que les boîtes ne touchent */
  min-width: 180px; /* Assurez une largeur minimale pour chaque boîte */
  overflow: hidden;
  background-color: #fafafa; /* Couleur de fond légère */
}


.titleIndicators {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    word-wrap: break-word; 
    margin: 0;
    padding: 10px; 
    box-sizing: border-box; 
}
.moyenneIndicators {
  text-align: center;
  font-family: "Segoe UI Semibold";
  font-weight: bold;
  font-size: 26px; /* Adjusted font size to match the image */
  color: #047b7b;
  margin: 0;
}

.resultIndicators {
  text-align: center;
  font-family: "Segoe UI Semibold";
  font-size: 14px; /* Adjusted font size to match the image */
  margin-bottom: 10px;
  color: #047b7b
}

.descriptionIndicators {
  text-align: center;
  font-size: 14px; /* Adjusted font size to match the image */
  font-weight: bold;
  margin: 0;
}

// .boutonindicator {
//   display: block;
//   margin: 0 auto; /* Center the button */
//   font-family: "Segoe UI Semibold";
//   font-size: 12px; /* Reduced font size */
//   color: #487c8d; /* Set the text color */
//   background-color: transparent !important;
//   padding: 5px 10px; /* Adjust padding for smaller size */
//   border: none; /* Supprimer la bordure du bouton */
//   outline: none; /* Supprimer le contour de focus */
// }

::ng-deep .p-button {
  display: block;
  margin: 0 auto; /* Center the button */
  // font-family: "Segoe UI Semibold";
  color: #047b7b !important; /* Change la couleur de fond */
  background-color: transparent !important; /* Change la couleur du texte */
  padding: 5px 10px; /* Adjust padding for smaller size */
  font-size: 12px; /* Change la taille de la police */  
  border: none; /* Supprimer la bordure du bouton */
  outline: none; /* Supprimer le contour de focus */
}

/* Style général du conteneur du tooltip */
::ng-deep .p-tooltip {
  color: #047b7b !important; /* Change la couleur de fond */
  border-radius: 4px !important; /* Arrondir les coins */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Ajoute une ombre légère */
  max-width: 300px;
}

::ng-deep .p-tooltip .p-tooltip-text {
  color: white !important; /* Change la couleur du texte */
  font-size: 12px !important; /* Change la taille du texte */
  font-family: "Segoe UI Semibold";
  text-align: justify;
}

::ng-deep .p-tooltip .p-tooltip-arrow {
  border-top-color: #047b7b !important;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
}

.small-select {
  
  width: 500px;
  height: 50px;
}

.align-tooltip{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #ccf2cb;
  border: 1px solid #ccf2cb;
  // border-radius: 5px;
  color: #000000;
  font-size: 14px;
  max-width: 300px;
  text-align: justify;
}

.info-graph-tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #ccf2cb;
  border: 1px solid #ccf2cb;
  // border-radius: 5px;
  color: #000000;
  font-size: 14px;
  // width: 500px;
  max-width: 500px;
  text-align: justify;
}

.warning-tooltip {
  max-width: 500px;
  text-align: justify;
}


.download-icon{
  color: white;
}

.plotly-plot {
  width: 100%;
  height: 100%;
}


.scenariosInfos {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  // margin-top: 2px;
  margin-bottom: 20px;
}

.evenementsNumber {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: #333;
  // margin-bottom: 10px;
}

.scenariosEvenementInfo {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}