<div style="text-align: center;">
    <p>échelle linéaire | échelle logarithmique</p>
    <mat-slide-toggle color="primary" [(ngModel)]="on" (change)="onToggleChange()" ></mat-slide-toggle>
    <div id="hydrograph-container">
      <div id="hydrograph" ></div>
    </div>
    <p>L'échelle linéaire est adaptée pour la représentation de la dynamique générale des débits et pour identifier les pics de crues. L'échelle logarithmique est particulièrement adaptée pour l'identification des années sèches.</p>
</div>