
<div>
  <div class="banner-language">
      <div></div>
      <div >
          <div class="text-container" translate>Outil numérique pour la prévision saisonnière des débits de cours d’eau à l’échelle de la Bretagne</div>
      </div>
      <div>
        
        <button  class="btn custom-btn" (click)="openDialog()" >Documentation</button>
    </div>
  </div>
</div>

<!--
<div>
  <div class="banner-language">
      <div>
          <button class="btn custom-btn">Documentation</button>
      </div>
      <div >
          <div class="text-container" translate>Outil numérique pour la prévision saisonnière des débits de cours d’eau à l’échelle de la Bretagne</div>
      </div>
      <div>
        <select class="select-language" [(ngModel)]="selectLang" name="selectLang" (change)="setTransLanguage()">
          <option *ngFor="let lang of transLang" value="{{lang}}" selected="selectLang">{{ lang }}</option>
      </select>
      </div>
  </div>
</div>
-->

