<div class="body">
    <div style="display: flex; flex-direction: column; align-items: center; padding-bottom: 75px">
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px; width: 100%;">
            <div class="container" style="display: flex; justify-content: center; align-items: center; width: 100%; margin-bottom: 0;">

                <div class="right-column" style="width: 70%; margin-left: 20px;">
                    <div style="padding: 20px;">
                        <div style="text-align: justify; color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word;">
                            <p [innerHTML]="'homeparagraphe1' | translate"></p>
                            <p [innerHTML]="'homeparagraphe2' | translate"></p>
                            <p [innerHTML]="'homeparagraphe3' | translate"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);; border-radius: 15px; margin-top: 20px; width: 100%;">
            <div style="padding: 20px;">
                <div style="text-align: justify; color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word;">
                    <p [innerHTML]="'homeparagraphe4' | translate"></p>
                    <p [innerHTML]="'homeparagraphe5' | translate"></p>
                    <p [innerHTML]="'homeparagraphe6' | translate"></p>
                </div>
            </div>
        </div>
    </div>
</div>
